# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Agatino\IdeaProjects\AM34\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/